[submodule "development/skunk-works"]
	path = development/skunk-works
	url = git@github.com:slashtags/skunk-works.git
[submodule "development/social-ui-monorepo"]
	path = development/social-ui-monorepo
	url = git@github.com:synonymdev/social-ui-monorepo.git
